<!DOCTYPE html>
<html>

<head>
    <title>Vixen</title>

    </script>
</head>

<body style="text-align:center">
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f850ceb8abe24251ace1">Dunkin' Donuts</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f870ceb8abe24251ace2">Dollar Tree</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace3">Walmart</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace4">Urban Outfitters</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace5">Subway</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace6">McDonald's</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f8d2ceb8abe24251ace7">Sephora</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f8d9ceb8abe24251ace8">Target</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f8e2ceb8abe24251ace9">Kroger</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f8edceb8abe24251aceb">Starbucks</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f920ceb8abe24251acf0">7-Eleven</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f967ceb8abe24251acf1">Michael Kors</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f96fceb8abe24251acf2">Home Depot</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f979ceb8abe24251acf3">PetSmart</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f981ceb8abe24251acf4">Harris Teeter</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f989ceb8abe24251acf5">Costco</h1>
    <h1 class="item" style="text-align:center; border:3px solid black;" id="5995f9c0ceb8abe24251acf7">Exxon Gas</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f850ceb8abe24251ace1">Dunkin' Donuts,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f870ceb8abe24251ace2">Dollar Tree,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace3">Walmart,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace4">Urban Outfitters,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace5">Subway,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f884ceb8abe24251ace6">McDonald's,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f8d2ceb8abe24251ace7">Sephora,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f8d9ceb8abe24251ace8">Target,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f8e2ceb8abe24251ace9">Kroger,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f8edceb8abe24251aceb">Starbucks,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f920ceb8abe24251acf0">7-Eleven,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f967ceb8abe24251acf1">Michael Kors,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f96fceb8abe24251acf2">Home Depot,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f979ceb8abe24251acf3">PetSmart,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f981ceb8abe24251acf4">Harris Teeter,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f989ceb8abe24251acf5">Costco,donation</h1>
    <h1 class="donation-item" style="text-align:center; border:3px solid black;" id="5995f9c0ceb8abe24251acf7">Exxon Gas,donation</h1>

    <script src="js/utils.js"></script>
    <script src="js/magicjs.js"></script>
</body>

</html>