<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<header>
			<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
			<span>
				<a href="index.html" class="title">Splurge</a>
			</span>
			<a href="settings.html">
				<img src="images/settingsIcon.png" style="width:25px;height:25px;">
			</a>
		</header>
  </body>
</html>
